.IPAChart {
    display: inline;
    margin-right: 20px;
}
.IPAChart tr,
.IPAChart td,
.IPAChart {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
.IPACard {
    display: inline-block;
    border: 1px solid #000000;
    padding: 8px;
    padding-left: 2px;
    width: 275px;
    vertical-align: top;
}
.IPACard .glyph {
    font-size: 48px;
    float: left;
    width: 72px;
    height: 80px;
    padding-right: 2px;
    text-align:center;
}
.IPACard .glyph-name {
}
.IPACard .description {
    text-indent: 1em hanging;
}
.IPACard .tipa-code {
    font-family: Courier New;
}
