.key-label{
    display: inline;
    padding: 2px;
}
.base{
}
.lower{
    color: blue;
}
.raise{
    color: red;
}
.slash{
    color: green;
}
.retroflex{
    color: orange;
}
.implosive{
    color: brown;
}
.lateral{
    color: cyan;
}
.uvular{
    color: olive;
}
.round{
    color: orange;
}
