.nav ul {
    list-style-type: none;
    padding-left: 0;
}

.nav-link {
    display: inline-block;
    margin-right: 10px;
}

.vcontainer {
    height: 90vh;
    display: flex;

    flex-direction: column;
}

.header,
.footer {
    height: 50px;
}

.main {
    flex: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.left,
.right {
}
