* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.key-tooltip{
    display: flex;
}

.key {
    background-color: #f0f0f0;
    border: 1px solid #000000;
    border-radius: 4px;
    font-family: Courier New;
    padding: 4px;
    min-height: 28px;
    min-width: 28px;
    max-height: 28px;
    max-width: 28px;
    text-align: center;
    display: inline-block;
}

.key-list dt:before {
  display: block;
}
.key-list dt {
  display: inline;
  margin-inline-start: 10px;
}
.key-list dd {
  display: inline;
  margin-inline-start: 10px;
}

.key-background {
    background-color: #787878;
    border-radius: 4px;
    margin:-3px;
    min-height: 32px;
    min-width: 40px;
    max-height: 32px;
    max-width: 40px;
}

.keyboard {
    max-width: 650px;
}
