@import "tailwindcss";

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply dark:bg-slate-900 dark:text-slate-500;
    @apply m-5;
  }
  table, tbody, tr, td,
  .IPAChart, .IPACard {
    @apply border border-slate-400 dark:border-blue-950;
    @apply bg-white dark:bg-slate-900;
  }
}

body {
  font-family: sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: bold;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

ul {
  list-style-type: disc;
  padding-inline-start: 20px;
}

li:first-of-type {
  margin-top: 8px;
}
li {
  line-height: 1.4;
}
