* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.nav ul {
    list-style-type: none;
    padding-left: 0;
}

.nav-link {
    display: inline-block;
    margin-right: 10px;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.IPAChart tr,
.IPAChart td,
.IPAChart {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.IPAPlace {
}
/* yellow:    #b58900; */
/* orange:    #cb4b16; */
/* red:       #dc322f; */
/* magenta:   #d33682; */
/* violet:    #6c71c4; */
/* blue:      #268bd2; */
/* cyan:      #2aa198; */
/* green:     #859900; */
.base{
    background-color: #fdf6e3;
}
.lower{
    background-color: #cb4b16;
}
.raise{
    background-color: #268bd2;
}
.slash{
    background-color: #6c71c4;
}
.retroflex{
    background-color: #b58900;
}
.implosive{
    background-color: #2aa198;
}

.key-tooltip{
    display: flex;
}

.key {
    background-color: #f0f0f0;
    border: 1px solid #000000;
    border-radius: 4px;
    font-family: Courier New;
    padding: 4px;
    min-height: 28px;
    min-width: 28px;
    max-height: 28px;
    max-width: 28px;
    text-align: center;
    display: inline-block;
}

.key-list dt:before {
  display: block;
}
.key-list dt {
  display: inline;
  margin-inline-start: 10px;
}
.key-list dd {
  display: inline;
  margin-inline-start: 10px;
}

.key-background {
    background-color: #787878;
    border-radius: 4px;
    margin:-3px;
    min-height: 32px;
    min-width: 40px;
    max-height: 32px;
    max-width: 40px;
}

.keyboard {
    max-width: 650px;
}
