* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.IPAChart tr,
.IPAChart td,
.IPAChart {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.IPAEntry {
    max-height: 0px;
    max-width: 0px;
    min-width: 12px;
    min-height: 14px;
}

.key-tooltip{
    min-width: 64px;
    min-height: 32px;
    max-width: 128px;
    max-height: 32px;
    background-color: #787878;
    border-radius: 4px;
    display: flex;
    gap: 4px;
    padding: 2px;
}

.key {
    background-color: #f0f0f0;
    border: 1px solid #000000;
    border-radius: 4px;
    font-family: Courier New;
    padding: 4px;
    min-height: 28px;
    min-width: 28px;
    max-height: 28px;
    max-width: 28px;
}
